.style-btn {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 1rem;
}

.playButtonDetailCard > p {
  display: inline;
  margin-top: -100px;
}
.style-btn:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 2s;
}
.centerMoreInfo {
  justify-content: center;
}
.moreInfo {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 25px;
  z-index: 10;
  background-color: #19181a;
  width: 90vw;
  margin-left: 5vw;
  position: fixed;
  top: 35px;
  left: 0;
}

.blurMoreDetailsCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  transition: background-color 2s linear;
}

@media screen and (min-width: 576px) {
  .moreInfo {
    width: 550px;
    margin-left: calc((100vw - 550px) / 2);
  }
}
@media screen and (min-width: 992px) {
  .moreInfo {
    width: 850px;
    margin-left: calc((100vw - 850px) / 2);
  }
}

.hidden {
  display: none;
}
.iconsLikes > i {
  font-size: 150%;
  display: flex;
  padding-left: 1rem;
}

.like_buttons {
  position: absolute;
  display: flex;
  flex-direction: inline;
  vertical-align: middle;
  margin-top: -6rem;
}
.fa-caret-right {
  position: relative!;
}
.container_movie_info {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  height: 43vh;
}

.runTime_overview {
  width: 50%;
}

.movieJarFile {
  text-align: right;
  width: 43.6vw;
  font-size: 14px;
  line-height: 20px;
  margin: 1.3em;
  margin-left: -3rem;
  word-break: break-word;
}
.movieOverview {
  font-size: 16px;
  margin-left: 3rem;
  color: silver;
}

.like_styling {
  display: flex;
  border: rgba(255, 255, 255, 0.315) solid 1px;
  border-radius: 50%;
  background-color: #51515262;
  padding: 15px;
  display: block;
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 2;
}

.icons-miniplayer-container {
  position: absolute;
  display: flex;
  flex-direction: inline;
  vertical-align: middle;
  margin-top: -6rem;
}

.genresMovies {
  display: inline-flex;
  color: silver;
}

.movieDirector h5{
   display: inline-flex;
    color: silver;
    font-weight:bold;
}
.movieDirector {
    color: silver;
 
}
.playTime h5{
    display:inline-flex;
    color:silver;
    font-weight:bold;
}
.playTime {
    color:silver;
}





.playButtonDetailCard {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  line-height: initial;
  background-color: #ffffff;
  margin-left: 10%;
}

.plus-button i {
  flex-direction: inline;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.541);
}
.plus-button :hover {
  color: red;
}
.thumbsUp {
  color: rgba(255, 255, 255, 0.541);
}
.thumbsUp :hover {
  color: white;
}
.thumbsDown {
  color: rgba(255, 255, 255, 0.541);
}
.thumbsDown :hover {
  color: white;
}

.mute-button {
  vertical-align: right;
  margin-left: 122%;
  border: transparent solid 1px;
  color: rgba(255, 255, 255, 0.541);
}
.mute-button :hover {
  color: white;
}
.closeMovie {
  position: fixed;
  top: 6%;
  padding-left: 41%;
  font-size: 140%;
}

.closeMovie :hover {
  color: red;
}
