.movieslane {
    margin-left: 20px;
}

.rowlane_movielogo {
  width: 20rem;

}

.movies_posters {
  display: flex;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 20px;
}
.movies_posters::-webkit-scrollbar {
  display: none;
}

.movies_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  /* height: 100%; */
  margin-right: 10px;
  transition: transform 450ms;

}
.movies_poster:hover {
  padding: 20px;
  top: 60px;
  transition: transform .54s cubic-bezier(.5,0,.1,1) 0s,-webkit-transform .54s cubic-bezier(.5,0,.1,1) 0s,-moz-transform .54s cubic-bezier(.5,0,.1,1) 0s,-o-transform .54s cubic-bezier(.5,0,.1,1) 0s;
  transition-property: transform, -webkit-transform, -moz-transform, -o-transform;
  transition-duration: 0.54s, 0.54s, 0.54s, 0.54s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1), cubic-bezier(0.5, 0, 0.1, 1), cubic-bezier(0.5, 0, 0.1, 1), cubic-bezier(0.5, 0, 0.1, 1);
  transition-delay: 0s, 0s, 0s, 0s;
  /* transform: scale(3.08); */





}

.movies_posterLarge {
    max-height: 250px;

}
.movies_posterLarge:hover {
    transform: scale(10.09);
    opacity: 1;
}