#player-fs-exit-btn,
#player-fs-mute-btn,
#player-fs-play-btn {
  position: absolute;
  padding: 1rem;
  pointer-events: all;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 150%;
}

#player-fs-exit-btn ,
#player-fs-mute-btn {
  left: 1rem;
}

#player-fs-exit-btn {
  bottom: 1rem;
  left: 55%;
}

#player-fs-mute-btn {
  bottom: 1rem;
  left: 50%;
}

#player-fs-play-btn {
  bottom: 1rem;
  left: 45%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
