#player-fs-exit-btn,
#player-fs-mute-btn,
#player-fs-play-btn {
  position: absolute;
  padding: 1rem;
  pointer-events: all;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 150%;
}

#player-fs-exit-btn,
#player-fs-mute-btn {
  right: 1rem;
}

#player-fs-exit-btn {
  top: 1rem;
}

#player-fs-mute-btn {
  bottom: 1rem;
  left: 1rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
