.hidden {
  display: none;
}

.smallMovieContainer {
  position: absolute;
  top: 43rem;
  display: flex;
  flex-direction: column;
  height: 38vh;
  border-radius: 6px;
  z-index: 15;
  background-color: #111;
  width:25vw;

  left:2em;
}

.icons-container-small {
  position: absolute;
  justify-content: space-evenly;
  top:9rem;
  /* left: 2rem; */
  display: inline-flex;
  width:100%;
  color: whitesmoke;
  font-size: 21px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
